@page "/"
@using System.Text
@using System.Linq;
@using DotNetMyths.Common

@code {
    private StringBuilder _sb = new StringBuilder();
    
    private void TryAllocateOnStack()
    {
        _sb.Clear();
        _sb.AppendLine("Calculating...");
        
        StateHasChanged();
        
        PotentiallyDangerousOnStackOperations.DoSomethingDirty(_sb);
    }
}

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="TryAllocateOnStack">Try allocate 10 MB on stack</button>

@if (_sb.Length > 0)
{
    <div>
        <code>
            @_sb.ToString()
        </code>
    </div>
}